
header{    
    background-position: center center;
    height: 350px;
    background-image: url("img/bg2.jpg");
}

h1{

    background-color: rgb(248, 248, 248, 0.75);
    margin-top: 80px;
    padding-left: 11rem;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#416618 ;
    font-weight: bold;
}

h2{    
    margin-top: 10px;    
color: #416618; 
border: #416618;
border-left:3px  ;
border-style: dotted;
font-variant: small-caps;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 5px;
padding-right: 5px;
}


h3{    
    margin: auto;
    font-size: 130%;  
    font-weight: bold;
    color: #894f3b;    
letter-spacing: 1px;
}


li{
    float: left;
    margin-left: 40px;
    list-style-image: url(../img/lemon2.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
}

.nevbar{
background-color: #fd8800;
}

p {text-align: justify;
    text-indent: 15px;


}